@media only screen and (max-width:1340px) {
    section .places_outerdiv{
        padding: 0;
        margin: 0;
    }
    .places_innerdiv div{
        height: 500px;
    }
 }
 
 @media only screen and (max-width:1000px) {
   
     nav {
         height: 200px;
         background: rgba(0, 0, 0);
     }
     nav .menu {
         width: 100%;
         margin-top: 20px
     }
     nav .menu a {
         margin: 10px 10px;
     }
     nav .logo {
         width: 50%;
         margin: auto;
     }
     nav .logo img {
         background-color: #fff;
     }
     .main_header h1 {
         text-align: center;
         width: 70%;
         margin: 0 auto 40px;
     }
     .main_header h3 {
         text-align: center;
     }
     .main_header .Button_div {
         width: 80%;
     }
     .main_header .Button_div button {
         width: 40%;
     }
     .places>h1{
         width: 70%;
     }
     .places_innerdiv{
         padding: 40px;
     }
     .places_innerdiv div{
         width: 80%;
         height: 650px;
         font-size: large;
     }
 }
 
 @media only screen and (max-width:650px) {
    .places>h1{
        width: 40%;
    }
     .places_innerdiv {
         padding: 0;
     }
     .places_innerdiv div{
         width: 100%;
         margin: 10px 0;
         height: 750px;
         font-size: medium;
     }
     .other_pages h2{
         text-align: center;
     }
     .other_pages div{
 width: 80%;
     }
 
 }